@mixin menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin nft{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btnSwiper{
  background: #FE8B46;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  width: 72.39px;
  height: 39.59px;
  margin-left: 110px;
}



@mixin swiperImg{
  display: block;
  width: 440px;
  height: 627.76px;
  object-fit: cover;
}

@mixin line2{
  width: 32px;
  height: 31px;
  border: 1px solid #868686;
  border-radius: 50%;
  margin-top: 80px;
}