@mixin menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin nft{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btnSwiper{
  background: #FE8B46;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  width: 72.39px;
  height: 39.59px;
  margin-left: 110px;
}



@mixin swiperImg{
  display: block;
  width: 440px;
  height: 627.76px;
  object-fit: cover;
}
@mixin btn{
  box-sizing: border-box;
background: black;
  color: #eeeeee;

  width: 231px;
  height: 58px;
  left: 71px;
  top: 3100px;
  border: 1px solid #FFFFFF;
  border-radius: 14px;
}
@mixin nty{
  margin-top: 100px;
  box-sizing: border-box;
  width: 311px;
  height: 468px;
  margin-top: 30px;
  border: 1px solid #A6A6A6;
  border-radius: 26px;
}
@mixin icon{
  box-sizing: border-box;
  width: 411px;
  height: 91px;
  border: 1px solid #BCBCBC;
  border-radius: 13px;
}